<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>lesotho Application</display-name>
  <description>
        This is a simple web application with a source code organization
        based on the recommendations of the Application Developer's Guide.
    </description>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>psi.lesotho.service.LoginController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClearSession</servlet-name>
    <servlet-class>psi.lesotho.app.ClearSession</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckSession</servlet-name>
    <servlet-class>psi.lesotho.app.CheckSession</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EventController</servlet-name>
    <servlet-class>psi.lesotho.service.EventController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClientController</servlet-name>
    <servlet-class>psi.lesotho.service.ClientController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MetaDataController</servlet-name>
    <servlet-class>psi.lesotho.service.MetaDataController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TranslationController</servlet-name>
    <servlet-class>psi.lesotho.service.TranslationController</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClearSession</servlet-name>
    <url-pattern>/clearSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckSession</servlet-name>
    <url-pattern>/checkSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EventController</servlet-name>
    <url-pattern>/event/*</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>ClientController</servlet-name>
    <url-pattern>/client/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MetaDataController</servlet-name>
    <url-pattern>/metaData/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TranslationController</servlet-name>
    <url-pattern>/translation/*</url-pattern>
  </servlet-mapping>
  
  
  <session-config>
    <session-timeout>60</session-timeout> <!-- in minutes -->
  </session-config>
  
</web-app>